matiec_src/
build_core.sh
https:/
iec2c
core/Config0.c
core/Config0.h
core/Config0.o
core/POUS.c
core/POUS.h
core/Res0.c
core/Res0.o
core/VARIABLES.csv
core/glue_generator
core/LOCATED_VARIABLES.h
glue_generator_src/glue_generator
core/openplc
core/hardware_layer.cpp
core/dnp3.disabled
core/dnp3_dummy.cpp
