# ----------------------------------------------------------------
# Configuration file for the OpenPLC EtherCAT driver - v1.0
#-----------------------------------------------------------------
#
# This file holds the information about your EtherCAT system that will work
# with the OpenPLC. You must fill these information properly for the OpenPLC to
# be able to connect to your slave devices and control it.
#
# use SOEM/install/bin/slaveinfo to find out more about your EtherCAT system
# 
# Below you will find information about each parameter
# 
# Must define ifname to use
ifname = "enp0s8"

#
# Num_Devices -> tells the OpenPLC how many slave devices it will connect to.
# OpenPLC will currently connect to all devices anyway
Num_Devices = "3"

# tell parser how many links to expect
Icount = "1"
Ocount = "1"

# Linking vars
#
# linking PLC inputs from EtherCAT
# Ilink = "<tsize in bits> <PLC address1> <PLC address2> <ecatSlave> <ecatByte> <ecatBit>"
Ilink = "1 0 0 5 0 0"


#
# linking PLC outputs to EtherCAT
# Olink "<tsize in bits> <PLC address1> <PLC address2> <ecatSlave> <ecatByte> <ecatBit>"
Olink = "1 0 0 4 0 0"